.greeting-card {
  margin-right: 15px !important;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px !important;
  width: 20rem;
}
.my-row {
  margin: auto;
}
.my-image {
  width: fit-content !important;
}
.name-item {
  margin-bottom: 10px !important;
  border: none !important;
  border-bottom: 1px solid #eee !important;
}
.my-title {
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
}
.my-links {
  text-align: center;
}
.card-link {
  text-decoration: underline !important;
  margin-top: 5px !important;
  display: block;
}

#edit-title-0-value {
  border: 1px solid #eee;
}

#edit-field-upload-pdf-0-upload {
  border: 1px solid #eee;
}

#edit-field-category-card-0-target-id {
  border: 1px solid #eee;
}

#edit-field-new-category-0-value {
  border: 1px solid #eee;
}

#edit-field-type--wrapper legend {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
}
.form-grreting-wrapper {
  width: 88%;
  margin-bottom: 80px !important;
}
.panel-body {
  display: flex;
  gap: 10px;
}
#edit-field-upload-pdf-0-upload-button {
  margin-top: 10px !important;
}
.greeting-card-simple-form {
  margin-bottom: 40px;
}

.js-form-submit {
  height: max-content;
  margin-top: 26px;
}

#search-result img {
  width: 164px;
  margin: auto;
}
.paragraph {
  margin-bottom: 50px;
}

.image-instruction {
  width: 46rem;
  margin-bottom: 50px;
}

.img-lapper {
  position: relative;
  left: 19%;
}
.greeting-card img.card-img-top.my-image.img-thumbnail {
  width: 200px !important;
  height: 137px;
  object-fit: cover;
}
.my-links {
  display: flex;
  margin-top: 7px;
}
.greeting-card h5.card-title.my-title {
  margin-top: 0px;
  font-size: 18px;
  margin-left: 6px;
}
.card.col-sm-3.greeting-card {
  padding: 13px 13px;
}
.greeting-card a.card-link {
  text-decoration: none !important;
  background-color: #817c7c;
  color: #817c7c;
  padding: 0px 6px;
  border-radius: 7px;
  font-size: 13px;
  color: #fff;
}
.list-group-item.active {
  background-color: #817c7c !important;
  border-color: #817c7c !important;
}
.list-group-item.active span.badge.bg-primary.float-end.rounded-pill {
  background-color: #fff !important;
  color: #817c7c;
}
.list-group-item span.badge.bg-primary.float-end.rounded-pill {
  background-color: #817c7c !important;
  color: #fff;
}

a.btn.btn-primary {
  background-color: #817c7c;
  border-color: #817c7c;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .img-lapper {
    position: relative;
    left: 0;
  }
  .image-instruction {
    width: 38rem;
  }
}

.list-group-item a:focus {
  outline: unset;
}
.list-group-item a {
  text-decoration: none;
}

.card-body {
  padding: 0 !important;
}
