<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Categories</a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="d-block" id="current" data="0">
      <div class="list-group list-group-flush" id="terms" data="{{ content.terms.total_terms }}">
        {% for term in content.terms  %}
          {% if term.uri %}
            <div id="{{ term.div_id }}" data="{{ term.tid }}" class="list-group-item">
              <a href="{{ term.uri }}" id="{{ term.link_id }}" data="{{ term.tid }}" class="text-dark text-decoration-none">
                {{ term.name }}
              </a>
              <span class="badge bg-primary float-end rounded-pill">{{ term.total }}</span>
            </div>
          {% endif %}

        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="row mt-5" id="search-result">
      <div class="col-lg-13 row">
        {% for card in content.cards %}
          <div class="card col-sm-3 greeting-card"><h5 class="card-title my-title">{{ card.title }}</h5>
            <div class="card-body">
              <img src="{{ card.imageLink }}" class="card-img-top my-image img-thumbnail" alt="{{ card.title }}">
            </div>
            <div class="card-body my-links">
              <a href="{{ card.imageLink }}" target="_blank" class="card-link">Preview</a>
              <a href="{{ card.pdfLink }}" target="_blank" class="card-link">Print</a>
              {% if card.isAllowed %}
                <a href="{{ card.deleteLink }}" class="card-link">Delete</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
