<div class="col-lg-13 row">
  {% for card in content.cards %}
    <div class="card col-sm-3 greeting-card"><h5 class="card-title my-title">{{ card.title }}</h5>
      <div class="card-body">
        <img src="{{ card.imageLink }}" class="card-img-top my-image img-thumbnail" alt="{{ card.title }}">
      </div>
      <div class="card-body my-links">
        <a href="{{ card.imageLink }}" target="_blank" class="card-link">Preview</a>
        <a href="{{ card.pdfLink }}" target="_blank" class="card-link">Print</a>
        {% if card.isAllowed %}
          <a href="{{ card.deleteLink }}" class="card-link">Delete</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
