<div class="container-fluid" id="ff" data="{{ content.forward }}">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ content.card.image }}" class="img-fluid rounded-start"
             alt="{{ content.card.title }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ content.card.title }}</h5>
          <p class="card-text">You can interact with this card by downloading, previewing, and sharing it with just a few clicks. Enjoy the convenience of accessing and sharing content with ease. 😄</p>
          <p class="card-text"><small class="text-muted">Posted {{ content.card.created }}</small></p>
          <p class="card-text">
            <a href="{{ content.card.pdf }}" target="_blank" class="card-link text-decoration-none">
              <i class="fas fa-download icon-large"></i>
            </a>
            <a href="{{ content.card.image }}" class="card-link text-decoration-none" target="_blank">
              <i class="fas fa-eye icon-large"></i>
            </a>
            <a target="_blank" class="card-link text-decoration-none" href="https://www.facebook.com/sharer/sharer.php?u={{ content.this_link }}">
              <i class="fab fa-facebook icon-large"></i>
            </a>
            <a target="_blank" class="card-link text-decoration-none" href="https://twitter.com/intent/tweet?url={{ content.this_link }}&text={{ content.card.title }}">
              <i class="fab fa-twitter icon-large"></i>
            </a>
            <a target="_blank" class="card-link text-decoration-none" href="https://www.linkedin.com/shareArticle?mini=true&url={{ content.this_link }}">
              <i class="fab fa-linkedin icon-large"></i>
            </a>
            <a target="_blank" class="card-link text-decoration-none" href="https://pinterest.com/pin/create/button/?url={{ content.this_link }}&media=&description={{ content.card.title }}">
              <i class="fab fa-pinterest icon-large"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


