<div class="e-cards-sending">
  <div class="container">
    <div class="row">{% if content.cards %}
      {% for card in content.cards %}
        <div class="card col-3 m-auto" style="width: 18rem; height: 27rem;">
          <img src="{{ card.image }}" class="card-img-top" alt="{{ card.title }}">
          <div class="card-body">
            <a href="{{ card.sendlink }}" class="btn btn-primary mb-5">Send
              <i class="fas fa-paper-plane"></i>
            </a>
          </div>
        </div>
      {% endfor %}
    {% else %}
        <h3 class="text-align-center mt-4 m-auto">{{ content.message }}</h3>
    {% endif %}</div>
  </div>
</div>
